   /* body {
    background-image: url('download.jpg');
    background-size: cover;
    background-position: center; 
  } */
  
  .text-title {
    font-weight: 700;
  }
  
  .content {
    border: 1px solid rgb(237, 226, 6);
    display: inline-flex;
    font-family: sans-serif;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
  }
  
  .column-container {
    align-items: flex-end;
    /* border: 1px solid grey; */
    /* height: 80vh; */
    border-bottom: 15px solid #000;
    position: relative;
    width: 30%;
  }
  
  .center-bar {
    background-color: rgb(43, 1, 1);
    width: 3%;
    height: 100%;
    /* border: 1px solid grey; */
    position: absolute;
    left: 48%;
    z-index: -1;
  }
  
  .tile {
    background-color: burlywood;
    /* border: 1px solid rgb(191, 152, 101); */
    border-radius: 25px;
    height: 42px;
    margin: auto;
    z-index: 20;
  }
  
  .win-message {
    background-color: #ffc107;
    border-radius: 15px;
    color: #640764;
    font-size: 2.5em;
    font-weight: 700;
    left: 50%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 30;
  }
  
  .win-subtitle {
    font-size: 0.75em;
    font-weight: 500;
    margin: 10px 0;
  }
  
  .win-number {
    color: #000;
  }
  